# Root Environment Variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=toeic_platform
POSTGRES_PORT=5432

REDIS_PASSWORD=redis123
REDIS_PORT=6379

DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/toeic_platform?schema=public
REDIS_URL=redis://:redis123@localhost:6379

BACKEND_PORT=4000
FRONTEND_PORT=3000
